*{
    padding: 0;
    margin: 0;
}

main{
    background:#f3f8f4;
    color: rgb(0, 3, 2);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section{
    flex: 1;
    padding: 1rem;
    max-width: 350px;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3{
    font-weight: bold;
    font-size: 1.25rem;
}

h5{
    font-size: 1rem;
    font-weight: bold;
}

.list-item-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 140px;
}

.list-item-title-price{
    display: flex;
    flex-direction: column;
    height: inherit;
    flex: 1;
    max-width: 150px;
}

.list-item-price{
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.restrictions-wrapper{
    width: inherit;
    display: flex;
    align-items: center
}

.wine-details-wrapper{
    display: flex;
    flex-direction: column;  
    height: inherit;
}


.wine-details-wrapper > * {
    margin-bottom: 0.5rem;
}

.wine-pricing-wrapper{
    display: flex;
    flex-direction: column;
}

.pricing-item-wrapper{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.pricing-item-wrapper h6{
    margin-right: 1rem;
}


.ingredients-wrapper{
    margin-top: 0.5rem;
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 600px){
    main{
        flex-direction: row;
        justify-content: space-evenly;
    }
}